html * {
  font-family: "Roboto";
}

body {
  margin: 0;
}

#app-title {
  font-size: xx-large;
  font-weight: 100;
}

#note-viewer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#note-viewer-bg {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.note-expanded {
  z-index: 2;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid;
  box-sizing: border-box;
  background-color: white;
}

.note-expanded input {
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
}

.note-expanded textarea {
  flex: 1;
  margin-top: 0.3rem;
  font-size: 18px;
  font-weight: 100;
  border: none;
  outline: none;
  resize: none;
}

.note-expanded div {
  display: flex;
  justify-content: flex-end;
}

#save-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;

  width: 64px;
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  font-size: x-large;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 3px;
}

#save-btn:hover {
  background-color: #0069d9;
}

.main-page {
  padding: 2rem;
}

#notes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 2rem;
}

#new-note {
  width: 200px;
  height: 300px;
}

#new-note-btn {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform-origin: center;
  color: #007bff;
  background-color: white;
  border-color: #007bff;
  border: 1px solid;
  cursor: pointer;
}

#new-note-btn:hover {
  width: 102%;
  height: 102%;
  color: #0069d9;
  border-color: #0069d9;
}

#new-note-btn img {
  max-width: 100px;
}

.note {
  width: 200px;
  height: 300px;
}

.note-btn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid gray;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.5s;
}

.note-btn:hover {
  width: 102%;
  height: 102%;
}

.note-btn-title {
  font-size: 20px;
  font-weight: 400;
}

.note-btn-desc {
  flex-grow: 1;
  font-size: 18px;
  font-weight: 100;
  overflow-wrap: break-word;
  white-space: pre-line;
  overflow: hidden;
}

.note-btn-date {
  align-self: flex-end;
  font-size: 12px;
  font-weight: 100;
  font-style: italic;
  color: gray;
}

.hidden {
  display: none !important;
  opacity: 0;
}
